[Unit]
Description=tt runner
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/core/tt-run.sh
User=root
StandardOutput=journal
StandardError=journal
TimeoutStartSec=21600
TimeoutStopSec=21600
RemainAfterExit=no

[Install]
WantedBy=multi-user.target

